<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <title>Document</title>
  <link rel="stylesheet" href="/assets/css/bootstrap.min.css">
  <link rel="stylesheet" href="/assets/css/omikuji.css">
</head>
<body>
  <div class="container-fluid">
    <div class="row">
      
    </div>
    
  </div>
  <!-- 〇〇さんの運勢は... はここに追記しよう! -->
  <!-- index.erbで入力された名前をapp.rbを経由してresult.erbで使用するためにはどうすれば...?  -->
  <h1><%= @result %></h1>
  <!-- h1の枠の色を条件に応じて変えるには...?  -->
  <!-- style属性で新たにborder-colorを設定しなおせば色を変えられそう?  -->
  <!-- 設定する色はapp.rb側で決定される...?  -->
  <form action="/result" method="get">
    <input type="hidden" name="username" value=<%= @uname %>>
    <input type="submit" value="もう一度占う">
  </form>
  <!-- トップページに戻るリンクを作成するには...? -->
  
  <!-- 占いの結果を基に表を作成してみよう -->
  <!-- 表を作成するにはtableタグを使うと良さそう...? -->
  <!-- データベースに入った値はapp.rb側でインスタンス変数に格納することでフロントでも扱えるようになる -->
  <!-- 現時点での確率=(×吉の出た回数) / (占いを行った総数)-->
  <!-- tableのデザインを整えたいときは、tableタグのclass属性に"table"を加えると良い -->
  
</body>
</html>
